
<div class="row">
<div class="col-md-2 col-md-offset-5">

<h1><%= @restaurant.name %></h1>

<p> The address of the restaurant is: <%= @restaurant.address %></p>
<p> The phone number of the restaurant is: <%= @restaurant.phone_number %></p>
<p> The category of the restaurant is: <%= @restaurant.category %></p>

<ul>
<% @restaurant.reviews.each do |restaurant| %>
  <li><%= restaurant.rating %> : <%= restaurant.content %></li>
<% end %>
</ul>

<br><br>
<%= link_to "Back to list", restaurants_path %>

<br><br>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
</div>
</div>
